@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500');
@import "~normalize.css";
@import "includes/variables";

body {
    background-color: $color-gray-light;
    color: $color-text-body;
    font-family: 'Rubik', "Helvetica Neue", Arial, sans-serif;
    font-size: $font-size-base;
    line-height: 1.5rem;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

svg {
    display: block;
}

a {
    color: $color-info;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
        text-decoration: underline;
    }
}

p {
    margin: 0 0 1rem;
}

h1, h2, h3 {
    margin: 0 0 1rem;
    font-weight: normal;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

hr {
    display: block;
    height: 1px;
    overflow: hidden;
    border: none;
    background-color: $color-gray-medium;
    margin: 1rem 0;
}

.page {
    &__header {
        height: 3.5rem;
        padding: 0 1rem;
    }

    &__content {
        flex: 1 0 auto;
        padding: 1rem;
        background-color: $color-white;
        border-top: solid 2px $color-gray-medium;
        border-bottom: solid 2px $color-gray-medium;
    }

    &__footer {
        flex-shrink: 0;
        color: $color-gray-dark;
        font-size: $font-size-sm;
        padding: .5rem 1rem;
        white-space: nowrap;
        overflow: hidden;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: -.03rem;
        margin: .5rem 0 1.5rem;
        line-height: 1;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-size: 1.5rem;
        color: $color-gray-dark;
    }
}

.navbar {
    color: $color-gray-dark;
    display: flex;

    &__group {
        padding: 0;
    }
}

.text {
    &--muted {
        color: $color-gray-medium;
    }
}