@import "components/breadcrumbs";
@import "components/buttons";
@import "components/forms";
@import "components/pagination";
@import "components/tables";
@import "components/toolbar";
@import "components/progress";

input[type="file"] {
    display: none;
}

.file {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 2rem;

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__status {
        flex: 0 0 100px;
        text-align: right;
        white-space: nowrap;
        font-size: $font-size-sm;
    }
}

.form__input--toolbar {
    border-width: 2px;
    width: 150px;
}

.checkbox__input--table {
    display: block;
}

.modal__container--confirm {
    min-width: auto;
    width: 400px;
}

.spreadsheet {
    position: relative;

    &__backstage {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color-white, .5);
    }
}