$grid-gutter-width: 1rem;

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-($grid-gutter-width / 2));

    &__column {
        flex: 1 0 calc(100% - 1rem);
        margin-left: ($grid-gutter-width / 2);
        margin-right: ($grid-gutter-width / 2);
    }
}

@media screen and (min-width: 992px) {
    .grid {
        flex-wrap: nowrap;

        &__column {
            flex-basis: 0;
        }
    }
}