{% use "form_div_layout.html.twig" %}

{% set filtered = [] %}
{% for group in items %}
    {% set filtered_group = [] %}
    {% for item in group %}
        {% if (item.isVisible is not defined or item.isVisible) %}
            {% set filtered_group = filtered_group | merge([item]) %}
        {% endif %}
    {% endfor %}
    {% if filtered_group | length %}
        {% set filtered = filtered | merge([filtered_group]) %}
    {% endif %}
{% endfor %}

{% for group in filtered %}
    {% for item in group %}
        <li class="dropdown__item">
            <a href="{{ item.url }}" class="dropdown__link"{% if item.attr is defined %}{% with {attr: item.attr} %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ item.title }}</a>
        </li>
    {% endfor %}
    {% if not loop.last %}
        <li class="dropdown__item dropdown__item--divider"></li>
    {% endif %}
{% endfor %}