{% extends "main.html.twig" %}

{% block content %}

    <div class="spreadsheet" data-ajax="true" id="p-spreadsheet">
        {% block spreadsheet %}
        <div class="spreadsheet__toolbar">
            {% block spreadsheet_toolbar %}{% endblock %}
        </div>
        <div class="spreadsheet__path">
            {% block spreadsheet_path %}{% endblock %}
        </div>
        <div class="spreadsheet__table">
            {% block spreadsheet_table %}{% endblock %}
        </div>
        <div class="spreadsheet__pagination">
            {% block spreadsheet_pagination %}{% endblock %}
        </div>
        {% endblock %}
    </div>

    {% block content_footer %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('spreadsheet') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('spreadsheet') }}
{% endblock %}