{% extends "main.html.twig" %}

{% block content %}

    <div class="spreadsheet" id="spreadsheet">
        {% block spreadsheet %}
        <div class="spreadsheet__toolbar">
            {% block spreadsheet_toolbar %}{% endblock %}
        </div>
        <div class="spreadsheet__path" data-update="#spreadsheet">
            {% block spreadsheet_path %}{% endblock %}
        </div>
        <div class="spreadsheet__table">
            {% block spreadsheet_table %}{% endblock %}
        </div>
        <div class="spreadsheet__pagination" data-update="#spreadsheet">
            {% block spreadsheet_pagination %}{% endblock %}
        </div>
        {% endblock %}
    </div>

{% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('spreadsheet') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('spreadsheet') }}
{% endblock %}